@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    background-color: rgb(233, 235, 243);
    text-align: center;
}

.form {
    padding: 8px 14px;
    width: 40%;
    margin: 5px auto;
    font-size: 14px;
    background-color: #d4c4c4;
    border-bottom: 3px solid #816868;
    border-radius: 10px;
    position: relative;
    display: inline-block;
}

label,
input,
#brandStatus,
.add_pr {
    display: inline-block;
}

label {
    width: 30%;
    text-align: left;
}

label+input+#brandStatus {
    width: 30%;
    margin: 1% 30% 1% 4%;
}

input+input+#brandStatus {
    float: right;
}

.button,
button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    background-color: rgb(163, 145, 145);
    border: none;
    color: white;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.button:hover,
button:hover {
    color: #5a5cd6;
    background-color: #959e9d;
}

#btn {
    font-size: 12px;
    text-decoration: dashed;
    border: 2px #b9d8d4 solid;
}

.logo {
    float: left;
    background-size: contain;
}

.mainmenu {
    float: right;
}